<%- include('header') %>
    <h3>Dashboard</h3>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <div class="small-box bg-primary text-white p-3 rounded">
                <h3><%= total_students %></h3>
                <p>Total Students</p>
            </div>
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>
    </div>    
<%- include('footer') %>